<template name="layout">
  {{> autoformModals}}
  <nav class="bg-navy">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">
        <img src="images/logo-type.png" alt="">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="javascript.html">
            {{> loginButtons}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="container">
      {{> yield}}
    </div>
  </main>
</template>
