<head>
  <title>AirTalent</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">AirTalent</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="javascript.html">{{> loginButtons}}
</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="container">

      <ul class="collection">
        <li class="collection-item avatar">
          <img src="http://lorempixel.com/200/200/" alt="" class="circle">
          <span class="title">Harry Ng</span>
          <p>
            Expert in Ruby on Rails, Startup mentor
          </p>
          <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
        </li>
      </ul>
      {{> people}}
    </div>
  </main>
</body>
