<template name="people_person">
  <li class="collection-item avatar {{selected}}">
    <img src="/cfs/files/images/{{profile}}" alt="" class="circle">
    <a href="/person/{{_id}}" class="title">{{name}}</a>
    <p>
      {{headline}}
    </p>
    <p class="referred_by">
      Referred by {{referredBy}}
    </p>
    {{#if isAdmin}}
      {{#afModal collection="People" operation="update" doc=_id}}
        edit
      {{/afModal}}
    {{/if}}

    <span class="secondary-content">
      <span class="badge">{{voteCount}}</span>
      {{> vote_button}}
    </span>
  </li>
</template>
