<template name="people_person">
  <li class="person">
    <div class="details">
      <img src="/cfs/files/images/{{profile}}" alt="" class="avatar">

      <a href="/person/{{slug}}" class="name">
        {{name}}
      </a>

      <p>
        {{#autolink}}
          {{headline}}
        {{/autolink}}
      </p>

      <p class="tag-list">
        {{> person_tag tag1}}
        {{> person_tag tag2}}
        {{> person_tag tag3}}
      </p>

      <p class="referred_by">
        Referred by {{referredBy}}
      </p>
    </div>

    <div class="aside">
      {{> vote_button }}
    </div>
  </li>
</template>
