<template name="people_person">
  <li class="person">
    <img src="/cfs/files/images/{{profile}}" alt="" class="avatar">
    <a href="/person/{{_id}}" class="title">{{name}}</a>
    <p>
      {{headline}}
    </p>
    <p class="referred_by">
      Referred by {{referredBy}}
    </p>
    {{#if isAdmin}}
      {{#afModal collection="People" operation="update" doc=_id}}
        edit
      {{/afModal}}
    {{/if}}

    <div class="vote-box">
      {{> vote_button}}
      <p class="vote-count">{{voteCount}} 21</p>
    </div>
  </li>
</template>
