<template name="person">
  <div class="row">
    <div class="col s12">
      <div class="person-card">
        <div class="avatar">
          <img src="/cfs/files/images/{{profile}}" alt="{{name}}'s photo">
        </div>

        <div class="person-details">
          <h1 class="name">
            {{name}}
          </h1>

          <p class="headline">
            {{#autolink}}
              {{headline}}
            {{/autolink}}
          </p>
          <p class="referral">
            Referred by {{referredBy}}
          </p>
        </div>

        <div class="person-tags">
          <p class="tag-list">
            {{> person_tag tag1}}
            {{> person_tag tag2}}
            {{> person_tag tag3}}
          </p>
        </div>

        <div class="person-actions">
          <button>Contact</button>
        </div>

        {{#if isAdmin}}
          <div class="person-admin">
            {{#afModal collection="People" operation="update" doc=_id}}
              Edit
            {{/afModal}}
            {{#afModal collection="People" operation="remove" doc=_id}}
              Delete
            {{/afModal}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
